@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  color: white;
  background: linear-gradient(180deg, #0342e3 0%, #333fa9 15.95%, #7c05b3 53.06%, #07000d 99%);
}
.green-txt {
  font-weight: lighter !important;
  color: green;
}
.txt-center {
  text-align: center;
}
.sec-title {
  text-align: center;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mx-40 {
  margin: 0px 40px;
}
::placeholder {
  font-size: 17px;
}
.absolute {
  position: absolute;
  width: 100%;
}
header {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, .15); 
  backdrop-filter: blur(9px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
main {
  padding: 0px 50px;
}
.logo {
  font-size: 16px;
}
.search {
  border-radius: 13px;
  outline: none;
  width: 13rem;
  padding: 7px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  position: relative;
  margin-right: 40px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
nav ul li::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav ul li:hover {
  color: #ffffff;
  font-weight: bold;
}
nav ul li:hover::after {
  width: 100%;
}
.nav-btn {
  color: white;
  background-color: #82589F;
}
.nav-btn {
  background-color: #7158e2;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.nav-btn:hover {
  color: white;
  background-color: #7d5fff;
}

.nav-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.search {
  width: 12rem;
  padding: 13px;
  border-radius: 18px;
  border: 1px solid #ffffff;
}
.search:focus {
  border: 1px solid #000000;
  background-color: #f5f6fa;
  transition: 0.1s ease;
}
.dropdown {
  display: flex;
}
.more {
  margin-right: 5px
  ;
}
.down-icon {
  margin-top: 3px;
}
.down-icon:hover {
  color: #eb8d28;
}
.hero-sec {
  margin-bottom: 13%;
  padding-top: 100px;
  display: flex;
  color: white;
  justify-content: space-around;
}
.content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-title {
  margin-top: 80px;
  font-size: 60px;
}.website-link {
  color: #f19b3f;
  text-decoration: none;
}
.detail {
  margin: 20px 20px;
}
.btn-container {
  display: flex;
}
.know-btn {
  cursor: pointer;
  padding: 15px 30px;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  background: white;
  color: black;
  margin-right: 15px;
}
.read-btn {
  cursor: pointer;
  padding: 15px 30px;
  font-size: 17px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
.read-btn:hover {
  color: black;
  background: white;
  transition: all 0.2s ease-in;
}

.bar-chart {
  margin-top: 10%;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(325, 325, 325, 0.374);
  justify-content: space-around;
}
.freelance-user {
  width: 45%;
}
.industry-growth {
  width: 45%;
}

/* Latest Blog */
.latest-blog {
  margin-top: 10%;
}
.latest-blog-title {
  text-align: center;
}


.latest-blog-container {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 4rem;
  margin-bottom: 10%;
}
.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #efedec;

}
.card:hover {
  box-shadow: rgba(140, 140, 146, 0.25) 0px 30px 60px -12px, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px;
}
.card__image {
  padding: 20px;
  border-radius: 30px;
  width: 100%;
  height: 250px;
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-purple {
  background: #e9d6fd;
  color: #7a54c0;
}

.tag-yellow {
  background: #fef9c3;
  color: #8b6944;
}

.tag-green {
  background: #dcfce7;
  color: #437056;
}

.card__body h4 {
  font-size: 1rem;
  cursor: pointer;
  text-transform: capitalize;
}
.card__body h4:hover {
  color: rgb(59, 55, 55);
}
.card-date {
  font-weight: lighter;
  color: #808080;
}
.card-detail {
  font-size: 13px;
}
.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}
.readmore-btn {
  text-decoration: none;
}

.arrow {
  margin-top: 20px;
}
.dreams {
  text-align: center;
}
.dreams-p {
  margin-bottom: 60px;
}
.dream-btn {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
}.dream-btn:hover {
  color: black;
  transition: 0.3s ease;
  font-weight: bold;
  background-color: white;
}

.popup-box {
  border-radius: 16px;
  padding: 30px 20px;
  width: 36%;
  margin: auto;
  color: black;
  transition-delay: 2s;
  background-color: white;
  animation: popupAnimation 900ms ease-in-out forwards;
}
@keyframes popupAnimation {
  0% {
    width: 25%;
    height: 100%;
  }
  50% {
    width: 36%;
    height: 2px;
  }
  100% {
    width: 36%;
    height: 100%;
  }
}
.popupbox-title {
  margin-bottom: 20px;
}
.popupbox-btn {
  display: grid;
  grid-gap: 14px;
  grid-template-columns: auto auto auto;
}
.popupbox-btn button {
  cursor: pointer;
  padding: 8px 0px;
  border-radius: 40px;
  border: 1px solid black;
}
.popupbox-btn button:hover {
  color: white;
  outline: none;
  background: rgb(67, 3, 144);
  transition: all 0.2s ease-in;
}

/* COURSE CARD */
.offline-btn {
  background-color: #ff9900;
  color: white;
  font-size: 18px;
  padding: 6px 20px;
  border: none;
  border-radius: 35px 0px 0px;
}
.course-cards {
  width: 62%;
  margin: auto;
  display: grid;
  grid-gap: 22px;
  grid-template-columns: auto auto;
}
.course-card {
  margin-top: 35px;
  padding-bottom: 18px;
  color: black;
  border-radius: 35px;
  background-color: white;
}
.course-title {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.course-icon {
  margin-right: 20px;
  margin-top: 10px;
}
.course-detail {
  margin-top: 20px;
  font-weight: lighter !important;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.course-detail-content {
  font-weight: lighter !important;
}
.visit-btn {
  cursor: pointer;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  background: #ff9900;
}
.visit-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.219) 0px 7px 29px 0px;
}

.view-more-btn-container {
  width: 13%;
  margin: auto;
}
.view-more-btn {
  display: flex;
  justify-content: center;
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 3%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.view-more-btn:disabled {
  pointer-events: none;
}

.view-more-btn:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.view-more-btn:active {
  box-shadow: none;
  transform: translateY(0);
}
/* FOOTER */
footer {
  padding: 80px 0px;
}
.footer-text {
  color: gray;
  cursor: pointer;
  margin-top: 10px;
}.footer-text:hover {
  color: white;
  transition: 0.2s ease-in-out;
}
li {
  list-style: none;
}
.talk-btn {
  font-size: 18px;
  border-radius: 20px;
  border: 1px solid yellow;
  color: yellow;
  background: transparent;
  padding: 15px 25px;
}
.talk-btn:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
  transition: 0.3s ease-in-out;
}
.social-media {
  width: 50%;
  padding: 40px 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.nav-side {
  display: flex;
  padding: 25px 0px;
  justify-content: space-between;
}
.sub-email {
  width: 50%;
  padding: 40px 50px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}
.sub-email-inp {
  width: 50%;
  color: white;
  height: 17%;
  padding-left: 10px;
  margin-top: 13px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #333333;
}
.submit-btn {
  background-color: white;
  color: black;
  margin: 20px 0px;
  border-radius: 40px;
  padding: 15px 25px;
  cursor: pointer;
  font-size: 14px;
}.submit-btn:hover {
  color: white;
  background: transparent;
  border: 2px solid white;
  transition: 0.2s ease-in-out;
}
.footer-middle {
  display: flex;
  margin: 50px 0px;
  justify-content: space-around;
}
.nav-side {
  display: flex;
}
.copyright {
  text-align: center;
}



@media (min-width: 768px) {
  .nav-btn {
    padding: .75rem 1.5rem;
  }
}
