@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  color: white;
  background: linear-gradient(to bottom, purple, blue);
}
::placeholder {
  font-size: 17px;
}
.absolute {
  position: absolute;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
main {
  padding: 0px 50px;
}
.logo {
  font-size: 16px;
}
.search {
  border-radius: 13px;
  outline: none;
  width: 13rem;
  padding: 7px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  position: relative;
  margin-right: 40px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
nav ul li::after {
  content: "";
  position: absolute;
  background-color: #eb8d28;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav ul li:hover {
  color: #eb8d28;
  font-weight: bold;
}
nav ul li:hover::after {
  width: 100%;
}
.nav-btn {
  color: white;
  background-color: #82589F;
}
.nav-btn {
  background-color: #7158e2;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.nav-btn:hover {
  color: white;
  background-color: #7d5fff;
}

.nav-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.search {
  width: 12rem;
  border: none;
  padding: 13px;
  border-radius: 18px;
  border: 1.5px solid black;
}
.search:focus {
  border: 2px solid #eb8d28;
  background-color: #f5f6fa;
  transition: 0.1s ease;
}
.dropdown {
  display: flex;
}
.more {
  margin-right: 5px
  ;
}
.down-icon {
  margin-top: 3px;
}
.down-icon:hover {
  color: #eb8d28;
}
.hero-sec {
  display: flex;
  justify-content: space-around;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-title {
  font-size: 60px;
  color: #151513f3;
}.website-link {
  color: #8a5318;
  text-decoration: none;
}
.detail {
  margin: 20px 0px;
}

.hero-btn {
  margin-top: 20px;
  margin-right: 17px;
  padding: 0.9em 3em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-container {
  display: flex;
}

.hero-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.hero-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .nav-btn {
    padding: .75rem 1.5rem;
  }
}
